<div class="slider-right-content">
    <div class="outside">
        <div class="btn-group">
            <div *ngFor="let component of tabComponents">
                <input type="image" [id]="component.componentName" class="icon-button" (click)="selectTab(component)" [pTooltip]="component.tooltip" tooltipPosition="left"
                    [src]="component.componentIcon" #tabButtons />
            </div>

        </div>
    </div>
    <div class="tab-header-container">
        <div> {{ tabHeader }}</div>
        <div>
            <button pButton type="button" icon="pi pi-times" class="p-button-rounded p-button-plain p-button-text" 
            (click)="closeTab()"></button>
        </div>
    </div>

    <div class="custom-tabs">
        <div class="tab-content-area">
            <div #container></div>
        </div>
    </div>
</div>