<div class="service-title">
    Adres usługi ATOM:
</div>
<div>
    <span class="p-input-icon-right">
        <i *ngIf="searchingAtom" class="pi pi-spin pi-spinner"></i>
        <input type="text" pInputText [(ngModel)]="urlAtom" (ngModelChange)=atomInputChange() />
    </span>
    <span style="margin-left: 5px;">
        <i *ngIf="urlAtom" class="pi pi-times" (click)="cancelSearching(); urlAtom=''"></i>
    </span>
</div>

<br>
<div>
    <p-checkbox [inputId]="'coords'" [binary]="true" name="groupname" [value]="false"
        [(ngModel)]="invertedCoordinates"></p-checkbox>
    <label [for]="'coords'"> Zamień współrzędne</label>
</div>

<div class="atom-results">
    <div class="results-title">
        <strong *ngIf="atomGroupTitle">{{ atomGroupTitle }}:</strong>
    </div>

    <div class="results-container">
        <div *ngFor="let atomEntry of atomEntries; let i = index" class="result-item">
            <!--
                <p-checkbox [binary]="true" name="groupname" [value]="false" [(ngModel)]="atomEntry.isSelected" (onChange)="onLayerCheckboxChange($event, atomEntry)"></p-checkbox>
            -->
            <p-button class="download-icon" icon="pi pi-eye" [disabled]="!(atomEntry.type == 'application/x-shapefile' && fileSize > 0 && fileSize < 10000000)"
                [loading]="atomEntry.sizeLoading" [pTooltip]="atomEntry.sizeLoading ? 'Trwa pobieranie wielkości pliku' : fileSize | filesize" tooltipPosition="left"
                (click)="addLayer(atomEntry)"></p-button>
            <p-button class="download-icon" icon="pi pi-download" [loading]="atomEntry.isLoading"
                (click)="downloadAtom($event, atomEntry)"></p-button>


            <div class="layer-result">{{ atomEntry.title }} <br> <b><i>{{ atomEntry.type}}</i> | {{ atomEntry.category
                    }}</b></div>
        </div>
    </div>

    <br>
    <div class="note-info">
        <i>Na mapie można wyświetlić zbiory danych GML o rozmiarze poniżej 10MB. W celu przeglądania pozostałych zbiorów
            prosimy o pobranie pliku i wykorzystanie desktopowych narzędzi GIS.</i>
    </div>
</div>

<!--
<div *ngIf="atomEntries.length" class="result-button">
    <button pButton type="button" label="DODAJ" class="p-button-rounded" (click)="addLayers()"></button>
</div>
-->