$layer-left-padding: 15px;
$layer-top-padding: 15px;

.layers-container {
  padding: $layer-left-padding $layer-top-padding;
  display: flex;
  flex-direction: column;
  gap: $layer-top-padding;
  overflow-y: auto;
  max-height: 78vh;
}

.layer-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.child-layers {
  padding-left: $layer-left-padding;
  padding-top: $layer-top-padding;
  padding-bottom: 2px;

  display: flex;
  flex-direction: column;
  gap: $layer-top-padding;

  .child-layer {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.layer-legend {
  padding-top: $layer-top-padding;
  padding-left: 25px;
}

.expand-icon {
  font-size: 1.2rem;
  cursor: pointer;
}

.circle {
  height: 20px;
  width: 20px;
  margin-left: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  //border-radius: 50%;
  border-style: solid;
  border-width: 5px;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-size: 1em;
  color: #666666;
}

.label-group {
  font-weight: 600;
  font-size: 14px;
}

.label-item {
  font-weight: 500;
  font-size: 14px;
}
