/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";
@import "primeng/resources/themes/saga-orange/theme.css";

body,
html {
    height: 100%;
    margin: 0;
    background-color: lightgray;
}

/* Accordion customize */
.p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
    display: none !important;
}

.p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
    box-shadow: none;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
    //background: #eef2f5;
    color: #444444;
    border-radius: 0;
    font-weight: 600;
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
    color: #444444;
}

.p-accordion p-accordiontab:first-child .p-accordion-header .p-accordion-header-link {
    border-radius: 0;
}

.p-accordion p-accordiontab:last-child .p-accordion-header:not(.p-highlight) .p-accordion-header-link {
    border-radius: 0;
}

/* buttons */
.p-button {
    color: #fff;
    background: #666666;
    border: none;
    text-decoration: none;
    box-shadow: none;
}

.p-button:enabled:hover {
    background: #444444;
    color: #fff;
    border: none;
    box-shadow: none;
}

.p-button:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
}

/* inputtext */

.p-inputtext:enabled:focus {
    box-shadow: none;
    border-color: none;
}

.p-inputtext:enabled {
    box-shadow: none;
    //height: 20px;
    border-color: #444444 !important;
}

.p-inputtext:enabled:hover {
    border-color: #444444;
}

.p-inputtext:disabled {
    border-color: #444444;
}

/* checkbox */

.p-checkbox {
    width: 20px;
    height: 20px;
}
.p-checkbox .p-checkbox-box {
    border: 1px solid #666666;
    background: #fff;
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 3px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.p-checkbox .p-checkbox-box .p-checkbox-icon {
    transition-duration: 0.2s;
    color: #fff;
    font-size: 13px;
}
.p-checkbox .p-checkbox-box.p-highlight {
    border-color: #666666;
    background: #666666;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: #666666;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0px #fff;
    border-color: #666666;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: #666666;
    background: #666666;
    color: #fff;
}

p-checkbox.ng-dirty.ng-invalid > .p-checkbox > .p-checkbox-box {
    border-color: #ef9a9a;
}
