
::ng-deep {
    .p-input-icon-right > .p-inputtext {
        width: 310px;
        font-size: 14px;
        height: 25px;
    }
}

.container {
    color: black;
    //padding: 10px
}

.service-title {
    padding-bottom: 5px;
    color: #444444;
    font-weight: 600;
    font-size: 14px;
}




.result-button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 15px;
}