<div [hidden]="hidden">
    <div class="container">
        <p-accordion styleClass="custom-accordion">
            <p-accordionTab header="Usługa WMS">
                <app-wms-validation></app-wms-validation>
            </p-accordionTab>

            <p-accordionTab header="Usługa WFS">
                <app-wfs-validation></app-wfs-validation>
            </p-accordionTab>

            <p-accordionTab header="Usługa ATOM">
                <app-atom-validation></app-atom-validation>
            </p-accordionTab>

            <p-accordionTab header="Usługa CSW">
                <app-csw-validation></app-csw-validation>
            </p-accordionTab>

        </p-accordion>
    </div>
</div>
