<div [hidden]="hidden">
    <div class="container" >
        <p-accordion styleClass="custom-accordion" [activeIndex]="activeIndex">
            <ng-container *ngIf="!isAtom">
                <p-accordionTab header="Usługa WMS">
                    <app-wms [url]="url" ></app-wms>
                </p-accordionTab>

                <p-accordionTab header="Usługa WFS">
                    <app-wfs [url]="url"></app-wfs>
                </p-accordionTab>
            </ng-container>


            <p-accordionTab *ngIf="isAtom" header="Usługa ATOM">
                <app-atom [url]="url"></app-atom>
            </p-accordionTab>

        </p-accordion>
    </div>
</div>