<div class="header">
    <div class="header-inner" style="display:flex; align-items:center; padding:0; margin-top: 4px; margin-bottom: 4px;">
        
        <img src="./assets/images/pig-logo.png" alt="Państwowy Instytut Geologiczny" width="300"
            style="margin-right:32px; object-fit:contain;" />

    </div>
    <div class="header-inner" style="display:flex; align-items:center; width:100%; margin:32px auto 16px; padding:0; margin-top: 20px;">
        <img src="https://ogcapi.pgi.gov.pl/static/img/logo.png" alt="Państwowy Instytut Geologiczny" width="80"
            style="margin-right:16px; object-fit:contain;" />
        <div class="header-title jost">
            <div style="font-weight:400; font-size:18px; color:#2d3748;">
                Państwowy Instytut Geologiczny<br>Państwowy Instytut Badawczy
            </div>
        </div>
    </div>
</div>

<div class="navbar jost">

    <div (click)="goTo('')" class="navbar-item" [class.active]="!isAtom">
        <span class="item-name"> GEOPORTAL INSPIRE </span>
    </div>

    <div (click)="goTo('atom')" class="navbar-item" [class.active]="isAtom">
        <span class="item-name"> KLIENT USŁUG ATOM </span>
    </div>

</div>

<div class="page-content">
    <p-toast></p-toast>

    <p-dialog header="Podgląd błędu" [(visible)]="displayModal" [modal]="true" [style]="{width: '90vw'}"
        [draggable]="false" [resizable]="false">

        <pre><code [highlight]="code" style="font-size: 11px; width: 500px;"></code></pre>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>

    <div [ngStyle]="{'width': isAtom ? '44vw' : '100vw' }">
        <app-map></app-map>
    </div>
    <app-sliders [isAtom]="isAtom"></app-sliders>
</div>