<div class="header">
  <img src="assets/images/logo.png" height="80px">
  <div class="title">
    <h1> Państwowy Instytut Geologiczny - Państwowy Instytut Badawczy </h1>
  </div>
</div>

<div class="navbar">

  <div class="navbar-item">
    <span class="item-name"> Geoportal INSPIRE </span>
  </div>

</div>

<div class="page-content">
  <p-toast></p-toast>

  <p-dialog header="Podgląd błędu" [(visible)]="displayModal" [modal]="true" [style]="{width: '90vw'}" [draggable]="false"
    [resizable]="false">
   
      <pre><code [highlight]="code" style="font-size: 11px; width: 500px;"></code></pre>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>

  <app-map></app-map>
  <app-sliders></app-sliders>
</div>